@import url("cssReset.css");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap");

/* @media (prefers-color-scheme: light) {
  :root {
    --text: rgb(5, 0, 0);
    --background: rgb(255, 255, 255);
    --primary: rgb(40, 246, 246);
    --secondary: rgb(250, 199, 199);
    --accent: rgb(225, 20, 20);
    --btn-border: rgb(51, 50, 61);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(255, 250, 250);
    --background: rgb(0, 0, 0);
    --primary: rgb(9, 215, 215);
    --secondary: rgb(56, 5, 5);
    --accent: rgb(235, 30, 30);
    --btn-border: rgb(81, 80, 91);
  }
} */

@media (prefers-color-scheme: light) {
  :root {
    --text: rgb(37, 4, 4);
    --background: rgb(255, 255, 255);
    --primary: rgb(104, 238, 238);
    --secondary: rgb(182, 182, 247);
    --accent: rgb(22, 202, 202);
    --btn-border: rgb(51, 50, 61);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: rgb(251, 218, 218);
    --background: rgb(0, 0, 0);
    --primary: rgb(17, 151, 151);
    --secondary: rgb(8, 8, 73);
    --accent: rgb(53, 233, 233);
    --btn-border: rgb(81, 80, 91);
  }
}

:root {
  font-family: "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* #main-content {
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ibarra Real Nova", serif;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

/* general styling */

:focus {
  outline: 1px solid var(--accent);
  /* outline-offset: 0.2rem; */
}

p,
li,
dl {
  max-width: 70ch;
}

a {
  text-decoration: none;
  color: var(--text);
  letter-spacing: 0.05rem;
  transition: color 0.25s ease-in-out;
}

a:hover {
  color: var(--accent);
}

button {
  /* border: 1px solid var(--btn-border); */
  /* color: var(--secondary); */

  border: 1px solid var(--secondary);
  color: var(--text);

  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  background-color: var(--background);
  letter-spacing: 0.05rem;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active,
button:focus {
  border: 1px solid transparent;
}
