@import "./cssReset.css";
@import "./theme-toggle.css";
@import "./spin.css";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;400;500;600;700&display=swap");

:root {
  --text: rgb(37, 4, 4);
  --placeholder-text: rgba(37, 4, 4, 0.2);
  --background: rgb(255, 255, 255);
  --primary: rgb(104, 238, 238);
  --secondary: rgb(182, 182, 247);
  --accent: rgb(22, 202, 202);
  --btn-border: rgb(51, 50, 61);
  --gradient: linear-gradient(
    90deg,
    rgba(104, 238, 238, 1) 10%,
    rgba(182, 182, 247, 1) 60%
  );
  --box-shadow: 0 2px 5px 0 rgba(51, 50, 61, 0.15);
}

[data-theme="dark"] {
  --text: rgb(251, 218, 218);
  --placeholder-text: rgba(251, 218, 218, 0.3);
  --background: rgb(0, 0, 0);
  --primary: rgb(17, 151, 151);
  --secondary: rgb(50, 50, 150);
  --accent: rgb(53, 233, 233);
  --btn-border: rgb(81, 80, 91);
  --gradient: linear-gradient(
    90deg,
    rgba(17, 151, 151, 1) 10%,
    rgba(50, 50, 150, 1) 60%
  );
  --box-shadow: 0 1px 2px 1px rgba(255, 255, 255, 0.3);
}

:root {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scrollbar-width: thin;
  scrollbar-color: var(--accent) rgba(255, 255, 255, 0.15);

  /* Fluid type scale */

  /* Step -2: 11.11px → 10.24px */
  --step--2: clamp(0.64rem, 0.7133rem + -0.0946vw, 0.6944rem);

  /* Step -1: 13.33px → 12.80px */
  --step--1: clamp(0.8rem, 0.8446rem + -0.0576vw, 0.8331rem);

  /* Step 0: 16.00px → 16.00px */
  --step-0: clamp(1rem, 1rem + 0vw, 1rem);

  /* Step 1: 19.20px → 20.00px */
  --step-1: clamp(1.2rem, 1.1826rem + 0.087vw, 1.25rem);

  /* Step 2: 23.04px → 25.00px */
  --step-2: clamp(1.44rem, 1.3974rem + 0.213vw, 1.5625rem);

  /* Step 3: 27.65px → 31.25px */
  --step-3: clamp(1.7281rem, 1.6499rem + 0.3913vw, 1.9531rem);

  /* Step 4: 33.18px → 39.06px */
  --step-4: clamp(2.0738rem, 1.9459rem + 0.6391vw, 2.4413rem);

  /* Step 5: 39.81px → 48.83px */
  --step-5: clamp(2.4881rem, 2.292rem + 0.9804vw, 3.0519rem);
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: var(--step-0);
}

/* General */

:focus {
  outline: 1px solid var(--accent);
}

hr {
  width: 20%;
  color: var(--btn-border);
  background-color: var(--btn-border);
  height: 1px;
  border: none;
}

p,
li,
dl {
  max-width: 60ch;
}

a {
  display: inline-block;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: var(--text);
  transition: color 0.3s ease, transform 0.45s ease;
}

a:hover {
  color: var(--background);
  border-color: var(--background);
  cursor: pointer;
  transform: scale(1.05);
}

button {
  border: 1px solid var(--btn-border);
  color: var(--text);
  text-transform: uppercase;
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  background-color: var(--background);
  letter-spacing: 0.05rem;
  transition: transform 0.45s ease;
}

button:hover {
  transform: scale(1.05);
}

button:active,
button:focus,
input:active,
input:focus,
textarea:focus,
textarea:active,
a:focus,
a:active {
  border-color: transparent;
}

i {
  font-size: var(--step-2);
}

svg {
  width: var(--step-2);
  height: var(--step-2);
}

#postman {
  width: var(--step-4);
  height: var(--step-4);
}

#xSvg path,
.link svg path {
  fill: var(--text);
  transition: fill 0.3s ease;
}

#xSvg:hover path {
  fill: var(--background);
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.15);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  border: 3px solid var(--accent);
}

/* Utility */

.wrapper {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0.25rem;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.spacer {
  margin-top: 2rem;
}

/* Header */

.site-head,
.footer {
  background-color: var(--secondary);
}

.site-head__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.site-head__brand {
  display: block;
  width: 3rem;
  border: 1px solid var(--btn-border);
  text-decoration: none;
  margin-right: auto;
}

.site-head__brand p {
  font-weight: 700;
  text-decoration: none;
  font-size: var(--step-3);
  text-align: center;
  color: var(--text);
}

/* Nav */

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.3rem 0.8rem;
  padding: 0;
}

.navigation li {
  margin: 0.1rem;
}

/* Toggle */

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform 0.5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform 0.5s var(--ease-elastic-4), opacity 0.5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform 0.25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx 0.25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: 0.25s;
    transform: scale(1.75);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transition-duration: 0.15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-duration: 0.5s;
    transition-delay: 0.25s;
  }
}

/* Burger-menu styling */

.burger-menu__trigger {
  display: none;
}

.burger-menu__bar,
.burger-menu__bar::before,
.burger-menu__bar::after {
  display: block;
  width: 24px;
  height: 3px;
  background: var(--btn-border);
  border: 1px solid var(--btn-border);
  position: absolute;
  border-radius: 3px;
  left: 50%;
  margin-left: -12px;
  transition: transform 350ms ease-in-out;
}

.burger-menu__bar {
  top: 50%;
  transform: translateY(-50%);
}

.burger-menu__bar::before,
.burger-menu__bar::after {
  content: "";
}

.burger-menu__bar::before {
  top: -8px;
}

.burger-menu__bar::after {
  bottom: -8px;
}

.burger-menu[enabled="true"] .burger-menu__trigger {
  display: block;
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--accent);
}

.burger-menu[enabled="true"] .burger-menu__panel {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5rem 1.5rem 2rem 1.5rem;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background: var(--secondary);
  color: var(--background);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.burger-menu[enabled="true"] .navigation ul {
  display: block;
  text-align: center;
  margin-top: 10rem;
}

.burger-menu[enabled="true"] .navigation ul > * + * {
  margin-top: 2rem;
}

.burger-menu[enabled="true"] .navigation li {
  font-size: var(--step-2);
}

.burger-menu[enabled="true"] .navigation__btn {
  border: none;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.burger-menu[enabled="true"][status="closed"] .burger-menu__panel > * {
  opacity: 0;
  transform: translateY(5rem);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__panel > * {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.17, 0.67, 0, 0.87) 0.7s,
    opacity 0.5s ease 0.8s;
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu[enabled="true"][status="open"] .burger-menu__bar {
  background: transparent;
  border-color: transparent;
  transform: rotate(180deg);
}

/* Name */

.name {
  text-align: center;
  display: grid;
  justify-content: center;
}

.name__title {
  font-size: 1.5rem;
  color: var(--text);
  font-weight: 400;
}

.name__intro {
  font-size: 1.25rem;
  width: 80%;
  justify-self: center;
}

.name__btns {
  display: flex;
  justify-content: center;
  gap: 2em;
}

h1 {
  background: var(--gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 6rem;
}

/* About */

h2 {
  color: var(--secondary);
  font-size: var(--step-3);
}

.about {
  display: grid;
  justify-content: center;
  text-align: center;
}

.about__text {
  font-size: 1.25rem;
  width: 90%;
  justify-self: center;
}

.about__tech {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about__tech-intro {
  margin: 1rem 0;
}

.about__ts i {
  font-size: var(--step-5);
  transition: transform 0.45s ease;
}

/* Projects */

.projects__grid,
.contact__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1em;
}

.projects {
  text-align: center;
}

.projects__grid-card {
  box-shadow: var(--box-shadow);
  padding: 0 1rem 0.5rem 1rem;
}

.projects__grid-card > .card__img {
  margin-top: 1rem;
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.45s ease-in-out;
}

.projects__grid-description {
  text-align: justify;
  padding: 1rem;
}

.card__img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.projects__grid-card:nth-child(1) > .card__img {
  background-image: url("../images/cv.png");
}

.projects__grid-card:nth-child(3) > .card__img {
  background-image: url("../images/Furn.png");
}

.projects__grid-card:nth-child(5) > .card__img {
  background-image: url("../images/memoji.png");
}

.projects__grid-card:nth-child(7) > .card__img {
  background-image: url("../images/weather-app.png");
}

.card__title {
  font-size: var(--step-1);
  font-weight: 600;
}

.card__hr {
  width: 10%;
}

.card__stack,
.card__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.card__ts i {
  font-size: var(--step-3);
}

.card__links i:hover,
.card__links svg:hover path {
  color: var(--accent);
  fill: var(--accent);
}

/* Contact */

.contact {
  outline: 1px solid var(--accent);
  padding: 0.75rem 0rem;
}

.contact__title {
  text-align: center;
}

.contact__name,
.contact__email,
.contact__message {
  display: flex;
  flex-direction: column;
}

.contact__wrapper {
  display: grid;
  width: 90%;
  margin: 0 auto;
}

form {
  color: var(--secondary);
}

textarea {
  padding: 0.5em 0;
  resize: none;
}

label {
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid var(--btn-border);
  padding: 0.5em 0;
  width: 80%;
}

input,
textarea {
  background-color: var(--background);
  color: var(--text);
  padding-left: 0.5em;
}

input::placeholder,
textarea::placeholder {
  padding-left: 0.5em;
  color: var(--placeholder-text);
}

.submit-btn-wrapper {
  justify-self: flex-end;
  display: flex;
  gap: 1.5em;
  align-items: center;
}

#thanks-message {
  font-size: var(--step-1);
  color: var(--text);
}

#spinner-wrapper {
  position: relative;
}

/* Footer */

.footer {
  padding: 1rem;
}

.footer-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 0 1rem;
}

.footer-nav {
  justify-self: center;
}

.footer__social-icons {
  display: flex;
  gap: 1rem;
  justify-self: flex-end;
}

@media (max-width: 40em) {
  .wrapper {
    padding: 1rem 0.25rem;
  }

  .contact__wrapper:nth-child(1) {
    gap: 1em;
  }

  .navigation .footer-ul {
    display: block;
    text-align: center;
  }

  input,
  textarea {
    width: 100%;
  }
}
